:root {
    --cor-fundo: #dea7dc4e;
    --cor-principal: #ecc0f5;
    --cor-secundaria: #914888;
    --cor-destaque: #feddffef;
    --cor-texto:#060809;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}