:root {
    --cor-fundo: d#ea4adf4e;
    --cor-principal: #f7d0ee;
    --cor-secundaria: #914888;
    --cor-destaque: #291d2aef;
    --cor-texto:#060809;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    text-align: center;
    padding: 20px;
}

h1{
    color:var(--cor-destaque);
}
button {
 background-color: var(--cor-secundaria)
color:var(--cor-texto);
border: none;
border-radius: 15px;
padding:15px;
transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
#botao-comecar {
    background-color: #e07acd;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 15px;
    transition: 0.3s;
}

#botao-comecar:hover {
    background-color: #ef92e5;
}
footer {
    margin-top: 40px;
    text-align: center;
    font-size: 0.9em;
    color: #666;
}

footer strong {
    color: #ea15d8;
}
footer {
    position: fixed;      /* fixa o rodapé na tela */
    bottom: 0;            /* na parte inferior */
    left: 0;              /* alinhado à esquerda */
    width: 100%;          /* ocupa toda a largura da tela */
    background-color: #f8f9fc;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    color: #666;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}